.tooltips {
    position: relative;
    display: inline-block;

  }

  .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #252525;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #252525 transparent transparent transparent;
  }

  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 0.90;
  }
